.header-icon {
  font-size: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  min-width: 280px;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-dialog-content {
  width: 100%;
  text-align: center;
}
.mat-flat-button {
  width: 100%;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-form-field {
  width: 100%;
}
.mat-stroked-button {
  width: 150px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep.mat-dialog-container {
  position: relative;
  width: 500px;
}

.mat-progress-bar {
  position: absolute;
  top: 0;
}

.form-label {
  text-align: left;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
